<div class="col-4 col-12-medium">

    <!-- Box -->
    <section class="box feature">
        <a href="#" class="image featured"><img src="{{ include.feature.image }}" alt="" /></a>
        <div class="inner">
            <header>
                <h2>{{ include.feature.title }}</h2>
                <p>{{ include.feature.subtitle }}</p>
            </header>
            <p>{{ include.feature.text }}</p>
            <a href="{{ include.feature.url }}" class="button icon fa-file-alt">More</a>
        </div>
    </section>

</div>