---
layout: default
---

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-3 col-12-medium">
                <div id="sidebar">

                    {%include blog-sidebar.html %}

                </div>
            </div>
            <div class="col-9 col-12-medium imp-medium">
                <div id="content">

                <!-- Content -->
                <article>
                {{ content }}
                </article>

               </div>
            </div>
        </div>
    </div>
</div>

