<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% seo %}
    <link rel="stylesheet" href="/assets/css/styles.css" />
    {% feed_meta %}
    {% include favicon-include.html %}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>    
</head>

<body class="is-preload homepage">
    <div id="page-wrapper">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </div>
    {% include scripts.html %}
</body>
</html>
